* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  color: black;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  overflow: hidden;
  padding: 5px;
  margin: 0 auto;
  justify-content: space-around;
}

.logo {
  width: 50%;
  height: 10%;
}

.button {
  padding: 10px;
  background-color: #567b95;
  border-radius: 3px;
  border: 1px solid #326891;
  color: white;
  font-weight: 700;
  font-size: 12px;
}

.line-bottom {
  border-bottom: 1px solid lightgray;
}

.line-top {
  border-top: 1px solid lightgray;
}

.main {
  margin: auto;
  width: 50%;
}

p {
  font-size: 20px;
  line-height: 30px;
}

.title h1 {
  margin-top: 100px;
  font-size: 2em;
  width: 100%;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 20px;
}

.icons {
  justify-content: flex-start;
  gap: 15px;
}

.img {
  width: 80%;
  display: block;
  margin: auto;
}

figcaption,
cite {
  color: gray;
}

.author {
  margin: 50px auto;
  font-size: 14px;
}

aside {
  width: 20%;
  float: right;
  font-style: italic;
}

aside .img,
aside p {
  width: 100px;
  font-size: 12px;
  margin-bottom: 10px;
}

.inflation {
  width: 75%;
  margin: auto;
  padding-bottom: 30px;
}

.inflation p {
  font-size: 14px;
  line-height: 17px;
  margin-top: 5px;
}

.inflation .img {
  width: 100%;
}

.text {
  color: gray;
  margin: 2px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  margin-top: 20px;
  justify-self: center;
  column-gap: 20px;
  row-gap: 0;
}

